//- .uk-text-center
//-   a(href="#{codebanca.url}" target="_blank" rel="me" title="#{codebanca.title} - #{codebanca.about}")
//-     img(src="#{root_url[environment]}assets/images/codebanca-banner.png" width="320" height="144" alt="#{codebanca.title} - #{codebanca.about}")