header(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")
  nav.uk-navbar-container.uk-container-expand(uk-navbar="mode: click" style="background-color: #{header_color}")
    div.uk-navbar-left(style="float:left")
      a.uk-navbar-item.uk-logo(href="#{root_url[environment]}" title="#{title}" rel="me")
        img(src="#{root_url[environment]}assets/images/#{slug_title}.png" width="175" alt="#{description}")
    div.uk-navbar-right(style="float:right")
      .uk-navbar-item
        a.uk-button.uk-button-secondary(href="#{root_url[environment]}about" rel="me" title="About #{title}") About