- var page_title = subtitle ? subtitle + " | " + title : title
- var page_url = root_url[environment] + (name == undefined ? '' : name)
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
meta(charset="utf-8")
title #{page_title}
meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
meta(http-equiv="refresh" content="120;url=#{page_url}")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="author" content="#{title}")
meta(name="description" content="#{description}")
meta(property="og:title" content="#{page_title}")
meta(property="og:description" content="#{description}")
meta(property="og:url" content="#{root_url[environment]}")
meta(property="og:site_name" content="#{title}")
meta(property="og:image" content="#{root_url[environment]}assets/images/devfreebooks-thumb.png")
meta(property="og:type" content="website")
meta(property="article:author" content="https://plus.google.com/+CaioRibeiroPereira")
meta(property="article:section" content="main")
meta(name="twitter:creator" content="@#{title}")
meta(name="twitter:card" content="summary")
meta(name="twitter:url" content="#{root_url[environment]}")
meta(name="twitter:title" content="#{page_title}")
meta(name="twitter:description" content="#{description}")
meta(name="twitter:image" content="#{root_url[environment]}assets/images/devfreebooks-thumb.png")
link(rel="stylesheet" href="#{root_url[environment]}assets/css/application.css" type="text/css")
link(rel="shortcut icon" href="#{root_url[environment]}favicon.ico" type="image/x-icon")
link(rel="canonical" href="#{page_url}")
!= "<!--[if lt IE 8]>"
  script(src="#{root_url[environment]}assets/js/aightjs.min.js")
  script(src="#{root_url[environment]}assets/js/html5shiv.min.js")
!= "<![endif]-->"
