div.social-footer.visible-xs
  div.center.btn-group(role="group")
    a.btn.btn-lg.btn-primary(target="_blank" rel="nofollow" href="https://www.facebook.com/sharer.php?u=#{encodeURIComponent(root_url[environment])}&t=#{encodeURIComponent(title)}") <i class="icon-facebook"></i>
    a.btn.btn-lg.btn-info(target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?text=#{encodeURIComponent(title)}%20#{encodeURIComponent(description)}%20#{encodeURIComponent(root_url[environment])}&via=devfreebooks") <i class="icon-twitter"></i>
    a.btn.btn-lg.btn-default(target="_blank" rel="nofollow" href="http://www.linkedin.com/shareArticle?mini=true&url=#{encodeURIComponent(root_url[environment])}&title=#{encodeURIComponent(title)}&summary=#{description}&source=#{title}") <i class="icon-linkedin"></i>
    a.btn.btn-lg.btn-danger(target="_blank" rel="nofollow" href="https://plus.google.com/share?url=#{encodeURIComponent(root_url[environment])}") <i class="icon-gplus"></i>
    a.btn.btn-lg.btn-warning(target="_blank" rel="nofollow" href="http://feeds.feedburner.com/DevFreeBooks") <i class="icon-rss"></i>